.jumbotron{
  background:linear-gradient(45deg, rgba(34, 139, 66, 0.9), rgba(20, 133, 5, 0.8)), url("/images/header.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
}

.title {
  color: #fff;
  font-size: 3.5rem;
  margin-top: 70px;
  margin-bottom: 50px;
}

.text {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 40px;
}